.select-group{
    display:flex;
    flex-direction:column;
    margin-bottom:16px;
}

.select-group label{
    margin-bottom:6px;
    font-weight:bold;
}

.select-group select{

    padding:10px;

    border:1px solid #ccc;

    border-radius:6px;

    font-size:15px;

}