:root{
    --primary:#2563EB;
    --primary-dark:#1D4ED8;

    --background:#F5F7FB;

    --sidebar:#1E293B;

    --card:#FFFFFF;

    --text:#1F2937;

    --text-light:#6B7280;

    --border:#E5E7EB;

    --success:#16A34A;

    --danger:#DC2626;
}