.input-group{
    display:flex;
    flex-direction:column;
    gap:8px;
    margin-bottom:18px;
}

.input-group label{
    font-size:14px;
    font-weight:600;
    color:var(--text);
}

.input-group input{

    padding:12px;

    border:1px solid var(--border);

    border-radius:8px;

    outline:none;

    transition:.2s;
}

.input-group input:focus{

    border-color:var(--primary);

    box-shadow:0 0 0 3px rgba(37,99,235,.15);
}