.logout-btn {
  margin-top: 25px;
  width: 100%;
  padding: 12px;
  background: #d32f2f;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.logout-btn:hover {
  background: #b71c1c;
}